---
title: Home
description: A minimal Eleventy starter with centralized SEO metadata, Sass, PostCSS, and asset passthrough.
image: /assets/images/sample-image.jpg
layout: base.njk
---

<h1>{{ title }}</h1>
<p>Welcome to KNI-11ty starter.</p>

<figure>
	<img src="/assets/images/sample-image.jpg" alt="Sample image showing assets pathing" />
	<figcaption>Served from <code>/assets/images/sample-image.jpg</code></figcaption>
</figure>
