---
title: Home
layout: base.njk
---

<h1>{{ title }}</h1>
<p>Welcome to KNI-11ty starter.</p>

<figure>
	<img src="/assets/images/sample-image.svg" alt="Sample image showing assets pathing" />
	<figcaption>Served from <code>/assets/images/sample-image.svg</code></figcaption>
</figure>

