---
permalink: robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
{% if site.isProduction -%}
Allow: /

Sitemap: {{ "/sitemap.xml" | absoluteUrl(site.url) }}
{% else -%}
Disallow: /
{% endif %}
